
@import 'Colors.scss';
@import 'Fonts.scss';

html,body {
    height:100%;
}

body {
    background-color: $background;
}

* {
    box-sizing: border-box;
}

.content-header {
    margin-bottom:20px;
}