@import 'Colors.scss';
@import 'Fonts.scss';

.card {
    background-color:$white;
    width:100%;
    max-height: 460px;
    height:auto;
    box-shadow: 0 10px 20px 0 rgba(46,91,255,0.07);
    flex-grow: 1;
    margin: 30px 10px 0;
    padding:16px 24px;
    overflow:hidden;

    .card-img {

        &.desktop {
            display:block;
        }
        &.tablet {
            display:none;
        }
        &.mobile {
            display:none;
        }
        
    }

    &.col-full {
        width:100%;
        max-width:1136px;
    }

    &.col-half {
        width: 568px;
    }

    &.col-quarter {
        
        width:264px;
    }

    &.col-third {
        width:363px;
    }

    &.col-two-third {
        width:752px;
    }

    &.large {
        min-height: 460px;
    }

    &.medium {
        min-height:352px;
    }

    &.small {
        min-height:176px;
    }

    h2.h1 {
        margin:15px 0 0 0;
    }

    p {
        margin:0;
    }

    .card-header {

        .card-icon {
            width:48px;
            height:48px;
            border-radius:50%;
            display:block;
            text-align:center;
            display:flex;
            align-items: center;
    
            i {
                margin:0 auto;
                font-size:1.1em;
                position:relative;
                top:2px;
            }
        }
    }

    .card-label {
        width: 100%;
        height: 78px;
        display: flex;
        align-items: center;

        a {
            margin-left:auto;

            i {
                color:$icon;
            }
        }
    }

    &.vehicles {
        .card-icon {
            background-color:$avocado;
            i {
                color:$lime;
            }
        }
    }
    &.distance {
        .card-icon {
            background-color:$sky;
            i {
                color:$teal;
            }
        }
    }
    &.energy {
        .card-icon {
            background-color:$lavendar;
            i {
                color:$plum;
            }
        }
    }
    &.time {
        .card-icon {
            background-color:$sunlight;
            i {
                color:$honey;
            }
        }
    }
}

.trip-list {
    margin:0;
    padding:0;
    list-style-type: none;

    .trip-item {
        width:100%;
        clear:both;
        overflow:hidden;
        display:block;
        margin:10px 0;

        h4 {
            margin:5px 0;
            width:100%;

            span {
                float:right;
            }
        }

        .date,
        .time {
            display:inline-block;
        }

        .time {
            float:right;
        }
    }
}

@media only screen and (max-width:768px) {
    
    .card {
        .card-img {

            &.desktop {
                display:none;
            }
            &.tablet {
                display:block;
            }
            &.mobile {
                display:none;
            }
            
        }

    }
    
}

@media only screen and (max-width:475px) {
    .card {

        &.large {
            min-height:367px;
        }

        &.col-quarter {
        
            width:175px;

            h2.h1 {
                font-size:2.26em;
            }
        }

        &.energy,
        &.time {
            display:none;
        }

        .card-img {

            &.desktop {
                display:none;
            }
            &.tablet {
                display:none;
            }
            &.mobile {
                display:block;
            }
            
        }
    }
}
