@import 'Colors.scss';
@import 'Containers.scss';

header {
    background-color: $white;
    width:100%;
    height:80px;
    border-bottom:1px solid $border;
    padding-top:12px;
    position: fixed;
    top: 0;

    nav.top-menu {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items:center;

        .mobile-menu {
            display:none;
            
            i {
                font-size:1em;
            }
        }
    

        a.logo-link,
        .page-header {
            align-self:auto;
            flex: 0 1 auto;

            h1 {
                
                margin:0 auto;
                text-indent:-9999em;
                background:url("/img/logo.svg");
                background-repeat:no-repeat;
                background-size:contain;
                background-position:center center;
                width:102px;
                height:auto;
            }
        }

        .page-header {
            display:none;
        }

        ul {
            list-style-type:none;
            padding:0;
            display:flex;
            flex-direction:row;
            align-items:center;
            margin: 0 0 0 auto;
            align-self: auto;
            flex: 0 1 auto;

            li {
                padding:0 8px;
                position:relative;
                i {
                    font-size:1.6em;
                    color:$icon;
                }
            }
        }
    }
}

.notification {
    width:12px;
    height:12px;
    background-color:$notification;
    border-radius:50%;
    border:2px solid $white;
    display:block;
    position:absolute;
    top:-2px;
    right:6px;
}



@media only screen and (max-width:768px) {

    header {
        nav.top-menu {
            .mobile-menu {
                display:block;
            }

            a.logo-link,
            .page-header {
                margin:auto;
                flex-grow:1;
                margin:0;

                h1 {
                    position:relative;
                    left:50px;
                }
            }
            

            ul {
                li {
                    i {
                        font-size:1.4em;
                    }

                    .profile-pic {
                        width:90%;
                        height:auto;
                        margin-right:0;
                    }

                    &:last-child {
                        a {
                            margin-right:0;
                        }
                        
                    }
                }
            }
        }
    }  
}

@media only screen and (max-width:475px) {
    header {
        height:51px;
        padding-top:14px;
        nav.top-menu {
            a.logo-link {
                display:none;

                h1 {
                    background:none;
                }
            }

            .page-header {
                display:block;
                font-size:0.95em;
                flex-grow:1;
                margin:0 auto;
                text-align:center;
            }
            ul:last-child {
                li {
                    i {
                        font-size:1.2em;
                    }

                    
                    &:nth-child(2),
                    &:last-child {
                        display:none;
                        
                    }
                }
            }
        }
    }  

    main {
        padding-top:25px;

        .content-header {
            display:none;
        }
    }

    .notification {
        width: 9px;
        height:9px;
    }
}
